@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a192f;
}

:root {
    --fz-xs: 13px;
    --fz-sm:14px;
    --hamwidth: 30px;
    --green: #64ffda;
    --font-main: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "monospace";
    --light-gray:#d3dce6;
}



.ham_box {
    display: inline-block;
    position: relative;
    width: var(--hamwidth);
    height: 24px;
    transform: rotateY(180deg);

}

.ham_box_inner {
    width: var(--hamwidth);
    height: 2px;
    border-radius: 4px;
    background-color: var(--green);
}

.ham_box_inner::before {
    width: 120%;
    height: 2px;
    top: -10px;
}

.ham_box_inner::after {
    width: 60%;
    height: 2px;
    top: 50%;
}

.ham_box_inner::after,
.ham_box_inner::before {
    position: absolute;
    background-color: var(--green);
    content: '';


}

.ham_box:hover {
    transform: rotateZ(360deg);
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.skills>li:before {
    content: "▹";
    margin-right: 6px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.sideContainer::after{
    content: '';
    display: block;
    width: 2px;
    height: 98px;
    margin: 0 auto;
    background-color: var(--light-gray);

}